<p><meta charset=utf-8 /></p>
<h1 id="powi-denis-sys-admin-gnulinux">Powi DENIS, Sys Admin GNU/Linux</h1>
<!--Ce CV est sous CC-By ©Powi -->
<!--https://creativecommons.org/licenses/by/2.0/-->
<h3 id="table-des-matières-table-of-contents">Table des matières / Table of contents</h3>
<!--[TOC]-->
<ul>
<li><a href="#fr">FR 🇫🇷</a>
<ul>
<li><a href="#projets-personnels-collectifs">Projets personnels &amp; collectifs</a></li>
<li><a href="#bénévolats">Bénévolats</a></li>
<li><a href="#emplois-et-stages">Emplois et Stages</a></li>
<li><a href="#diplômes">Diplômes</a></li>
<li><a href="#compétences">Compétences</a></li>
<li><a href="#passions-loisirs">Passions &amp; Loisirs</a></li>
</ul></li>
<li><a href="#en">EN 🇺🇸</a>
<ul>
<li><a href="#personnal-and-collectives-projects">Personnal and collective projects</a></li>
<li><a href="#volunteering">Volunteering</a></li>
<li><a href="#employment-and-intership">Employment and Internship</a></li>
<li><a href="#degrees">Degrees</a></li>
<li><a href="#skills">Skills</a></li>
<li><a href="#passions-hobbies">Passions &amp; Hobbies</a></li>
</ul></li>
</ul>
<h2 id="fr">FR 🇫🇷 :</h2>
<h3 id="projets-personnels-collectifs">Projets personnels &amp; collectifs</h3>
<ul>
<li><p>[Juin 18 → *] QueerTube, projet collectif de plateforme PeerTube à destination des personnes queers (en réponse à la censure de celles-ci par Youtube).</p>
<ul>
<li>Community Management</li>
<li>Création d’une communauté autour du projet</li>
<li>Prises de décision en collectif</li>
</ul></li>
<li><p>[Décembre 17 → *] Bot Discord Loup Garou, projet personnel de bot Discord pour jouer aux <em><img src="https://fr.wikipedia.org/wiki/Les_Loups-garous_de_Thiercelieux" alt="Loups Garous de Thiercellieux" /></em> :</p>
<ul>
<li>Utilisation de Python avec objets et API.</li>
<li>Utilisation de git.</li>
<li>Le bot gère les rôles Discord et les rôles du jeu, distribue les rôles aux joueurses, gère les personnes éliminées, l’accès restreint aux salons, etc.</li>
</ul></li>
</ul>
<h4 id="bénévolats">Bénévolats</h4>
<ul>
<li>2017-18 <a href="http://laressourcerieverte.com/">La Ressourcerie Verte</a>, Conseillère Collégiale : Prises de décisions en collectif, rédactions de comptes rendus, facilitations de débats.</li>
<li>2016 Framasoft : Projet Framinetest – Mise en place, accompagnement des équipes pédagogiques, configurations, administration système.</li>
<li>2015-16 Association Chalonnaise pour une Transition Energétique [ACTE] – Écriture de comptes rendus, actions type collectes de soutien, mémorial (Tchernobyl, Fukushima).</li>
</ul>
<h4 id="emplois-et-stages">Emplois et Stages</h4>
<ul>
<li><p>Octobre 2016 → Juin 2017 : Service Civique, <strong>La Ressourcerie Verte</strong> (4-5 salarié·e·s, ~20 bénévoles)</p>
<ul>
<li>Installation de GNU/Linux sur les machines</li>
<li>Migration de Dropbox à NextCloud</li>
<li>Initiation à Dolibarr</li>
<li>Formations des utilisateurices aux nouveaux outils</li>
</ul></li>
<li><p>Juin → Décembre 2015 : Technicienne Informatique, <strong>CAD</strong> (4 salarié·e·s)</p>
<ul>
<li>Installation d’un Wordpress</li>
<li>Récupération automatisée (en JavaScript) des données et images depuis le site du fournisseur</li>
<li>Amélioration du design d’un site</li>
<li>Maintenance d’ordinateurs et de réseaux</li>
</ul></li>
</ul>
<div style="page-break-after: always;">

</div>
<h3 id="diplômes">Diplômes</h3>
<ul>
<li>2014 · BTS IRIS (Informatique et Réseau pour l’Industrie et les Services techniques)</li>
<li>2012 · Bac STI (Sciences Techniques Industrielles), spécialité Électrotechnique</li>
</ul>
<h3 id="compétences">Compétences</h3>
<ul>
<li>Langages de Programmation, Scripting, Syntaxe
<ul>
<li>Python</li>
<li>HTML/CSS</li>
<li>C/C++</li>
<li>bash</li>
<li>SQL</li>
<li>git</li>
<li>php</li>
<li>javascript (&amp;jquery)</li>
</ul></li>
<li>Administration Système (serveur)
<ul>
<li>GNU/Linux [Debian / CentOS]
<ul>
<li>Nginx</li>
<li>Gestion de configurations</li>
<li>Postfix &amp; Dovecot</li>
<li>Apache</li>
<li>LetsEncrypt</li>
</ul></li>
</ul></li>
<li>Social
<ul>
<li>Prises de décisions en collectif</li>
<li>Rédactions de comptes rendus de réunions</li>
<li>Facilitation de débats</li>
<li>Gestion de communauté</li>
</ul></li>
</ul>
<h3 id="passions-loisirs">Passions &amp; Loisirs</h3>
<ul>
<li>[❤️❤️❤️❤️❤️] Programmation en python</li>
<li>[❤️❤️❤️❤️❤️] Administrer mon serveur debian</li>
<li>[❤️❤️❤️❤️🖤] Parler en public (conférence, débats, etc.)</li>
<li>[❤️❤️❤️❤️🖤] Vélo</li>
<li>[❤️❤️❤️🖤🖤] Scripting bash</li>
</ul>
<div style="page-break-after: always;">

</div>
<h2 id="en">EN 🇺🇸 :</h2>
<h3 id="personnal-and-collectives-projects">Personnal and collectives projects</h3>
<ul>
<li><p>[June 18 → *] QueerTube, a collective PeerTube platform project for queer people (in response to Youtube censorship of those ones).</p>
<ul>
<li>Community Management</li>
<li>Creating a community around that project</li>
<li>Collective decisions making</li>
</ul></li>
<li><p>[December 17 → *] Loup Garou Discord Bot, personnal project on creating a Discord bot to play <em><img src="https://en.wikipedia.org/wiki/The_Werewolves_of_Millers_Hollow" alt="The Werewolves of Millers Hollow" /></em> :</p>
<ul>
<li>Use of python with objects and APIs</li>
<li>Use of git.</li>
<li>The bot manages Discord and game roles, distributes roles to players, manages eliminated players, restricts access to channels, etc.</li>
</ul></li>
</ul>
<h4 id="volunteering">Volunteering</h4>
<ul>
<li>2017-18 <img src="http://laressourcerieverte.com/" alt="La Ressourcerie Verte" /> (= <em>The Green Ressourcerie</em>), member of the community council : Collective decisions making, writing reports, debates facilitation.</li>
<li>2016 Framasoft : Framinetest Project – Setting up, accompaniment of educational team, configurations, system administration</li>
<li>2015-16 Association Chalonnaise pour une Transition Energétique (= <em>Chalonnaise Organization for an Energy Transition</em>) [ACTE] – Writing reports, actions like support collects, memorials (Chernobyl, Fukushima)</li>
</ul>
<h4 id="employment-and-intership">Employment and Intership</h4>
<ul>
<li><p>October 2016 → June 2017 : Civic Service, <strong>La Ressourcerie Verte</strong> (4-5 salaries, ~20 volunteers)</p>
<ul>
<li>GNU/Linux installations</li>
<li>Migration from Dropbox to NextCloud</li>
<li>Introduction to Dolibarr</li>
<li>Formations of users on new tools</li>
</ul></li>
<li><p>June → December 2015 : IT Technician, <strong>CAD</strong> (4 salaries)</p>
<ul>
<li>Set up a Wordpress</li>
<li>Automaticaly (javascript) get datas and images from a provider website</li>
<li>Improve a website design</li>
<li>Maintenance of computers and networks</li>
</ul></li>
</ul>
<div style="page-break-after: always;">

</div>
<h3 id="degrees">Degrees</h3>
<ul>
<li>2014 · BTS IRIS (IT &amp; Networks for Industry and Technic Services)</li>
<li>2012 · Bac STI (Industrial Technic Sciences), Electrotechnic</li>
</ul>
<h3 id="skills">Skills</h3>
<ul>
<li>Programming &amp; Scripting &amp; Syntax Languages
<ul>
<li>Python</li>
<li>HTML/CSS</li>
<li>C/C++</li>
<li>bash</li>
<li>SQL</li>
<li>git</li>
<li>php</li>
<li>JavaScript (&amp;jquery)</li>
</ul></li>
<li>System Administration (server)
<ul>
<li>GNU/Linux [Debian / CentOS]
<ul>
<li>Nginx</li>
<li>Configurations management</li>
<li>Postfix &amp; Dovecot</li>
<li>Apache</li>
<li>LetsEncrypt</li>
</ul></li>
</ul></li>
<li>Social
<ul>
<li>Collective decision making</li>
<li>Writing reunions reports</li>
<li>Debates facilitation</li>
<li>Community managing</li>
</ul></li>
</ul>
<h3 id="passions-hobbies">Passions &amp; Hobbies</h3>
<ul>
<li>[❤️❤️❤️❤️❤️] Python programming</li>
<li>[❤️❤️❤️❤️❤️] Administrate my debian server</li>
<li>[❤️❤️❤️❤️🖤] Public talk (conferences, debates, etc.)</li>
<li>[❤️❤️❤️❤️🖤] Cycling</li>
<li>[❤️❤️❤️🖤🖤] Bash scripting</li>
</ul>
